h1 {
  background-color: #000;
  color: white;
}

p {
  background-color: #fff;
  color: black;
  font-size: 20px;
  font-weight: 700;
}

.item-list {
  background-color: #eee;
  color: #555;
}

ul {
  list-style-position: inside;
  padding-left: 0px;
}

li {
  border-bottom: 0.1px solid #ddd;
}

input {
  margin-right: 10px;
  border: 0.1px solid rgba(0, 0, 0, 1);
  background-color: linen;
}

button {
  border: 0.1px solid rgba(0, 0, 0, 1);
  background-color: lightcyan;
  color: #232323;
}
